.other-balances-list {
  margin: 0;
  font-size: 12px;
  padding-left: 0;
}

.overall-balance-wrapper {
  font-size: 1.5rem;
  ul.other-balances-list {
    font-weight: bold;
    font-size: 14px;
    text-align: right;
  }
}
