<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      Friends summary
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="add-btn" (click)="addFriend()">
        <img src="assets/images/add-icon.svg" alt="icon"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="top-section"></div>
  <div class="bottom-section"></div>

  <ion-list>
    <app-overall-balance
      [overallBalance]="friendsStore['overallBalance']()"
    ></app-overall-balance>
    @for( friend of friendsStore.unSettledFriends(); track friend.name) {
      <ion-item (click)="chooseFriend(friend)" button>
      <ion-avatar slot="start">
          @if (friend.photoUrl) {
            <img [src]="friend.photoUrl" alt="Friend's photo"/>
          } @else {
            <ion-icon size="large" name="person" color="medium"></ion-icon>
          }
        </ion-avatar>
      <ion-label>
        <h2>{{ friend.name }}</h2>
          @if(friend.otherBalances?.length) {
            <ul class="other-balances-list">
            @for(balance of friend.otherBalances; track balance.currency) {
              <ion-label [color]="balance.isOwed ? 'success' : 'danger'">
                - {{!balance.isOwed ? 'You' : friend.name | shortenName}} owe: {{balance.amount | currency: balance.currency: 'symbol'}}
          </ion-label>
            }
            </ul>
          }
        </ion-label>
        @if (friend.mainBalance) {
          <p>
        <ion-label [color]="friend.mainBalance.isOwed ? 'success': 'danger'">
          {{ friend.mainBalance.amount | currency: friend.mainBalance.currency: 'symbol' }}
        </ion-label>
      </p>
        }
      </ion-item>
    }
    @for( friend of friendsStore.inActiveFriends(); track friend.name) {
      <ion-item (click)="chooseFriend(friend)" button>
      <ion-avatar slot="start">
          @if (friend.photoUrl) {
            <img [src]="friend.photoUrl" alt="Friend's photo"/>
          } @else {
            <ion-icon size="large" name="person" color="medium"></ion-icon>
          }
        </ion-avatar>
      <ion-label>
        <h2>{{ friend.name }}</h2>
      </ion-label>
    </ion-item>
    }
  </ion-list>
    @if(!friendsStore.friends().length) {
        <ion-list lines="none">
    <ion-item>
      <ion-label>
        <p>Nothing here yet. Please add friends</p>
      </ion-label>
    </ion-item>
  </ion-list>
    }
</ion-content>