<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      Friends
      @if (friendsStore['finalAmount']()) {
        : <ion-label
          [color]="friendsStore['finalAmount']() > 0 ? 'success' : 'danger'"
        >{{friendsStore['finalAmount']() | currency}}</ion-label>
      }
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addFriend()">
        Add Friend
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Friends
        @if (friendsStore['finalAmount']()) {
          : <ion-label
            [color]="friendsStore['finalAmount']() > 0 ? 'success' : 'danger'"
          >{{friendsStore['finalAmount']() | currency}}</ion-label>
        }
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    @for( friend of friendsStore.unSettledFriends(); track friend.name) {
      <ion-item (click)="chooseFriend(friend)" button>
        <ion-avatar slot="start">
          @if (friend.photoUrl) {
            <img [src]="friend.photoUrl" alt="Friend's photo" />
          } @else {
            <ion-icon size="large" name="person" [color]="friend.mainBalance?.isOwed ? 'success': 'danger'"></ion-icon>
          }
        </ion-avatar>
        <ion-label>
          <h2>{{ friend.name }}</h2>
          @if(friend.otherBalances.length) {
            <ul class="other-balances-list">
            @for(balance of friend.otherBalances; track balance.currency) {
              <ion-label color="medium">
                - {{!balance.isOwed ? 'You' : friend.name | shortenName}} owe: {{balance.amount | currency: balance.currency: 'symbol-narrow'}}
              </ion-label>
            }
            </ul>
          }
        </ion-label>
        @if (friend.mainBalance) {
          <p>
            <ion-label [color]="friend.mainBalance.isOwed ? 'success': 'danger'">
              {{ friend.mainBalance.amount | currency: friend.mainBalance.currency: 'symbol-narrow' }}
            </ion-label>
          </p>
        }
      </ion-item>
    }
  </ion-list>
</ion-content>
