<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      Friends summary
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="add-btn" (click)="addFriend()">
        <img src="assets/images/add-icon.svg" alt="icon"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  @if (friendsStore['overallBalance']()?.main) {
    <div class="top-section">
      <mr-overall-balance
        [overallBalance]="friendsStore['overallBalance']()"
      ></mr-overall-balance>
    </div>
    <div class="bottom-section"></div>
  }

  @if (friendsStore.friends().length) {
    <ion-list class="summary-list">
      <h3>Summary</h3>
      @for( friend of friendsStore.unSettledFriends(); track friend.name) {
        <ion-item (click)="chooseFriend(friend)" button>
          <ion-avatar slot="start">
            @if (friend.photoUrl) {
              <img [src]="friend.photoUrl" alt="Friend's photo"/>
            } @else {
              <ion-icon size="large" name="person" color="medium"></ion-icon>
            }
          </ion-avatar>
          <ion-label>
            <h4>{{ friend.name }}</h4>
            @if(friend.otherBalances?.length) {
              <ul class="other-balances-list">
                @for(balance of friend.otherBalances; track balance.amount.currency) {
                  <ion-label [color]="balance.amount.isOwed ? 'success' : 'danger'">
                    {{!balance.amount.isOwed ? 'Owed' : 'Owe'}} : {{balance.amount.amount | currency: balance.amount.currency: 'symbol'}}
                  </ion-label>
                }
              </ul>
            }
          </ion-label>
          @if (friend.mainBalance) {
            <p>
              <ion-label [color]="friend.mainBalance.isOwed ? 'success': 'danger'">
                {{ friend.mainBalance.amount | currency: friend.mainBalance.currency: 'symbol' }}
                @if (friend.mainBalance.isOwed) {
                  <img
                    class="arrow"
                    src="assets/images/arrow-green-downward.svg" alt="wallet"
                  />
                } @else () {
                  <img
                    class="arrow"
                    src="assets/images/arrow-red-upword.svg" alt="wallet"
                  />
                }
              </ion-label>
            </p>
          }
        </ion-item>

      }
      @for( friend of friendsStore.inActiveFriends(); track friend.name) {
        <ion-item (click)="chooseFriend(friend)" button>
          <ion-avatar slot="start">
            @if (friend.photoUrl) {
              <img [src]="friend.photoUrl" alt="Friend's photo"/>
            } @else {
              <ion-icon size="large" name="person" color="medium"></ion-icon>
            }
          </ion-avatar>
          <ion-label>
            <h2>{{ friend.name }}</h2>
          </ion-label>
        </ion-item>
      }
    </ion-list>
  } @else if (!friendsStore.loadingFriends() && !friendsStore.friends().length) {
    <ion-list lines="none">
      <ion-item>
        <ion-label>
          <p>Nothing here yet. Please add friends</p>
        </ion-label>
      </ion-item>
    </ion-list>
  }
</ion-content>
