// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
$light-color: rgb(153, 153, 153);

$color-dark:#2D2F35;
$color-grey:#757A86;
$color-mediumGrey: #f7f7f7;
$color-lightGrey:#E8E9EB;  // for borders
$color-blue: #3063E3;
$color-green: #21CE99;
$color-red:#FF5D5D;
$color-white: #ffffff;
$color-black: #000000;