<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Account settings
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="authStore.signOut()">
        Sign Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

@if (user()) {
  <ion-content class="ion-padding">
    @if (user()?.photoUrl) {
      <img [alt]="user()?.displayName + ' picture'" [src]="user()?.photoUrl" />
    } @else {
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    }
    <ion-label>{{user()?.displayName}}</ion-label>
    <ion-list>
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>{{user()?.email || 'N/A'}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-select
          placeholder="Default currency"
          label="Currency"
          label-placement=""
          interface="action-sheet"
          [ngModel]="user()!.currency"
          (ngModelChange)="updateDefaultCurrency($event)"
        >
          @for (currency of currencies; track currency) {
            <ion-select-option value="{{currency.code}}">{{currency.code}}</ion-select-option>
          }
        </ion-select>
      </ion-item>
      <ion-item>
        @if (!phoneInEditMode()) {
          <ion-icon name="call-outline"></ion-icon>
          <ion-label>{{user()?.phoneNumber | phone }}</ion-label>
          <ion-icon (click)="phoneInEditMode.set(true)" slot="end" name="create-outline"></ion-icon>
        } @else {
          <form [formGroup]="phoneForm" (ngSubmit)="savePhoneNumber()" id="save-phone-form">
          <app-phone-with-country
            [group]="phoneForm"
          ></app-phone-with-country>
          </form>
          @if (loading()) {
            <ion-spinner slot="end"></ion-spinner>
          } @else {
            <ion-button slot="end" type="submit" form="save-phone-form" [strong]="true">Save</ion-button>
          }
        }
      </ion-item>
    </ion-list>
  </ion-content>
}
