<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Account settings
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="authStore.signOut()">
        Sign Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

@if (user()) {
  <ion-content
    class="ion-padding">
    <ion-card>
      <ion-card-content class="ion-text-center">
        @if (user()?.photoUrl) {
          <img [alt]="user()?.displayName + ' picture'" [src]="user()?.photoUrl" />
        } @else {
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        }
        <ion-card-header>
          <ion-card-title>{{user()?.displayName}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-icon name="mail-outline"></ion-icon>
              <ion-label>{{user()?.email || 'N/A'}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-select
                placeholder="Default currency"
                label="Currency"
                label-placement=""
                interface="action-sheet"
                [ngModel]="user()!.currency"
                (ngModelChange)="updateDefaultCurrency($event)"
              >
                @for (currency of currencies; track currency) {
                  <ion-select-option value="{{currency}}">{{currency}}</ion-select-option>
                }
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-icon name="call-outline"></ion-icon>
              <ion-label>{{user()?.phoneNumber || 'N/A'}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card-content>
    </ion-card>
  </ion-content>
}
