<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Account settings
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="authStore.signOut()">
        Sign Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<!--  @if (user) {-->
    <ion-card>
      <ion-card-content class="ion-text-center">
        @if (user()?.photoURL) {
          <img [alt]="user()?.displayName + ' picture'" [src]="user()?.photoURL" />
        } @else {
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        }
        <ion-card-header>
          <ion-card-title>{{user()?.displayName}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label>{{user()?.email || 'N/A'}}</ion-label>
          <br>
          <ion-icon name="call-outline"></ion-icon>
          <ion-label>{{user()?.phoneNumber || 'N/A'}}</ion-label>
        </ion-card-content>
      </ion-card-content>
    </ion-card>
<!--  }-->
</ion-content>
