<form (submit)="onSignUpWithCreds()" [formGroup]="signUpForm">
  <div class="form-card">
    <div class="ion-margin card-heading">
      <h1>Sign Up</h1>
      <p>
        Join us and get started today
      </p>
    </div>

    <ion-item>
      <ion-label position="stacked" class="input-label">Name</ion-label>
      <div class="mr-input-wrapper">
        <img src="assets/images/user-icon.svg" alt="icon"/>
        <ion-input
          class="input-field"
          type="text"
          formControlName="name"
          name="name"
          errorText="Name is invalid or missing"
          placeholder="Enter your name"
        ></ion-input>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" class="input-label">Email ID</ion-label>
      <div class="mr-input-wrapper">
        <img src="assets/images/email-icon.svg" alt="icon"/>
        <ion-input
          class="input-field"
          [errorText]="emailErrorMessage(signUpForm)"
          type="email"
          formControlName="email"
          name="email"
          placeholder="Write your email"
        ></ion-input>
      </div>
    </ion-item>

    <ng-container formGroupName="passwords">
      <ion-item>
        <ion-label position="stacked" class="input-label">Password</ion-label>
        <div class="mr-input-wrapper">
          <img src="assets/images/lock-icon.svg" alt="Lock icon"/>
          <ion-input
            class="input-field"
            [type]="showPassword() ? 'text' : 'password'"
            formControlName="password"
            name="password"
            required
            [errorText]="passwordErrorMessage(signUpForm)"
            placeholder="Enter your password"
          ></ion-input>
          <img (click)="password() ? showPassword.set(!showPassword()) : null" class="eye-icon" src="assets/images/eye-icon.svg" alt="Toggle password"/>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" class="input-label">Confirm Password</ion-label>
        <div class="mr-input-wrapper">
          <img src="assets/images/lock-icon.svg" alt="Lock icon"/>
          <ion-input
            class="input-field"
            [type]="showConfirmPassword() ? 'text' : 'password'"
            formControlName="confirmPassword"
            name="password"
            required
            [errorText]="confirmPasswordErrorMessage(signUpForm)"
            placeholder="Re-enter your password"
          ></ion-input>
          <img (click)="confirmPassword() ? showConfirmPassword.set(!showConfirmPassword()) : null" class="eye-icon" src="assets/images/eye-icon.svg" alt="Toggle password"/>
        </div>
      </ion-item>
    </ng-container>

    <ion-item>
      <ion-label position="stacked" class="input-label">Phone Number</ion-label>
      <div class="mr-input-wrapper">
        <mr-phone-with-country [canShowLabels]="false"></mr-phone-with-country>
      </div>
    </ion-item>

  </div>

  <ion-button expand="full" type="submit" [disabled]="loading()" class="button-filled">
    {{ loading() ? 'Signing up...' : 'Sign Up' }}
  </ion-button>
  @if (invalidCreds()) {
    <ion-label class="invalid-cred" color="danger">{{invalidCreds()}}</ion-label>
  }
</form>
