<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="close-outline" (click)="closePopup()"></ion-icon>
    </ion-buttons>
    <ion-title>
      @if (isUpdating()) {
        Edit Expense
      } @else {
        Create Expense
      }
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="defineExpenseForm" (ngSubmit)="onSubmit()" id="define-expense-form">

    <div class="choose-friend-item">
      <h2>Enter expense details</h2>
      <p>
        with You and&nbsp;
        <span
          class="selected-friend-label"
          color="primary"
          (click)="chooseFriend()"
        >
          {{ friend()?.['name'] || '' }}
        </span>
      </p>
      @if (!friend()) {
        <ion-button (click)="chooseFriend()">Choose friend</ion-button>
      }
    </div>

    <ion-list>
      <ion-item>
        <ion-label position="stacked" class="input-label">Expense description</ion-label>
        <ion-input
          #descriptionInput
          class="input-field"
          type="text"
          formControlName="description"
          placeholder="Enter expense description"
          errorText="Description is required"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <div class="two-column-wrapper">
          <div class="column">
            <ion-label position="stacked">Currency</ion-label>
            <mr-currencies-dropdown
              [selectedCurrency]="selectedCurrencyCode()"
              (selected)="currencySelected($event)"
            ></mr-currencies-dropdown>
          </div>

          <div class="column">
            <ion-label position="stacked">Expense amount</ion-label>
            <ion-input
              class="input-field"
              type="number"
              formControlName="amount"
              errorText="Expense is required"
              placeholder="Enter Expense Amount"
            ></ion-input>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" class="input-label">Who owes who</ion-label>

        <ion-select formControlName="type" class="split-option-select" [class.is-owed]="isOwed()" color="green"
                    interface="action-sheet">
          <ion-select-option class="green" [value]="SplitOption.YouPaidSplitEqually">Paid by you and split equally
          </ion-select-option>
          <ion-select-option class="green" [value]="SplitOption.TheyOweYouAll">{{ friend()?.['name'] | shortenName }}
            owes you the full amount
          </ion-select-option>
          <ion-select-option class="red" [value]="SplitOption.TheyPaidSplitEqually">Paid
            by {{ friend()?.['name'] | shortenName }} and split equally
          </ion-select-option>
          <ion-select-option class="red" [value]="SplitOption.YouOweThemAll">You
            owe {{ friend()?.['name'] | shortenName }} the full amount
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" class="input-label">Expense date</ion-label>

        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime formControlName="transactionDate" presentation="date" id="datetime"></ion-datetime>
          </ng-template>
        </ion-modal>

      </ion-item>
    </ion-list>

    <ion-buttons class="btn-group">
      <ion-button type="submit" class="btn-ghost green" form="define-expense-form" [strong]="true">
        @if (loading()) {
          <ion-spinner></ion-spinner>
        } @else if (isUpdating()) {
          Update now
        } @else {
          Create expense
        }
      </ion-button>
    </ion-buttons>

  </form>
</ion-content>
