::ng-deep {
  .action-sheet-button {
    &.red {
      color: red;
    }
    &.green {
      color: green;
    }
  }
}

.choose-friend-item {
  ion-button {
    display: inline;
    margin-top: 10px;
  }
}

ion-select.split-option-select {
  &::part(text) {
    color: red;
  }
  &.is-owed::part(text) {
    color: green;
  }
}

ion-item {
  &::part(native) {
    padding-left: 0;
    --inner-border-width: 0;
  }

  ion-select.currency {
    min-width: 25%;
    margin-right: 15px;
  }

  &.currency-expense ion-input.ion-invalid {
    margin-top: 10px
  }
}
