<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Skip</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      @if (loading()) {
        <ion-spinner></ion-spinner>
      } @else {
        <ion-button type="submit" form="get-phone-form" [strong]="true">Save</ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="text-center">
    <div class="card-heading">
      <h1>Let’s Get You Started</h1>
      <p>Enter your phone number so we can help you connect with people you know.</p>
    </div>

  </div>
  <form [formGroup]="phoneForm" (ngSubmit)="onSubmit()" id="get-phone-form">
    <ion-list>
      <ion-item>
        <mr-phone-with-country [group]="phoneForm"></mr-phone-with-country>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
