@use "variables.scss" as *;

ion-item {
  &::part(native) {
    padding-left: 0;
    --inner-border-width: 0;
  }
}

.text-center {
  margin-bottom: 24px;

  h2 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  p {
    color: #666;
    font-size: 1rem;
  }
}

.card-heading{
  h1{
    color: $color-dark;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 4px;
  }
  p{
    color: $color-grey;
    font-size: 15px;
    margin: 0;
  }
}

