<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="close-outline" (click)="cancel()"></ion-icon>
    </ion-buttons>
    <ion-title>
      @if (isUpdating()) {
        Update friend info
      } @else {
        Add New Friend
      }
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="addFriendForm" (ngSubmit)="onSubmit()" id="add-friend-form">

    <ion-list>
      <ion-item>
        <ion-label position="stacked" class="input-label">Friend's Name</ion-label>
        <ion-input
            class="input-field"
            type="text"
            formControlName="name"
            placeholder="Friend name"
            errorText="Name is required"
             placeholder="Enter your friend's name"
          ></ion-input>

      </ion-item>
      <ion-item>
        <ion-label position="stacked" class="input-label">Friend's Email ID</ion-label>
        <ion-input
            class="input-field"
            type="email"
            errorText="Invalid email"
            formControlName="email"
            placeholder="John@gmail.com"
            email
          ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" class="input-label">Phone Number</ion-label>
        <app-phone-with-country
            [group]="phoneFormGroup()"
          ></app-phone-with-country>
      </ion-item>

    </ion-list>
  </form>

  <ion-buttons class="btn-group">
      @if (loading()) {
        <ion-spinner></ion-spinner>
      } @else {
        <ion-button class="btn-ghost green" type="submit" form="add-friend-form" [strong]="true">Add Friend</ion-button>
      }
  </ion-buttons>

</ion-content>