<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Create Friend</ion-title>
    <ion-buttons slot="end">
      @if (loading()) {
        <ion-spinner></ion-spinner>
      } @else {
        <ion-button type="submit" form="add-friend-form" [strong]="true">Confirm</ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form [formGroup]="addFriendForm" (ngSubmit)="onSubmit()" id="add-friend-form">
            <ion-input
                    type="text"
                    labelPlacement="stacked"
                    label="Name"
                    formControlName="name"
                    placeholder="Friend name"
                    errorText="Name is required"
            ></ion-input>
            <ion-input
                    type="email"
                    labelPlacement="stacked"
                    label="Email"
                    errorText="Invalid email"
                    formControlName="email"
                    placeholder="John@gmail.com"
                    email
            ></ion-input>
            <ion-input
                    type="tel"
                    labelPlacement="stacked"
                    label="Phone number"
                    formControlName="phoneNumber"
                    placeholder="(202) 555-1234"
                    errorText="Phone is required"
            ></ion-input>
    </form>
</ion-content>
