<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Create Friend</ion-title>
    <ion-buttons slot="end">
      @if (loading()) {
        <ion-spinner></ion-spinner>
      } @else {
        <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input type="text" labelPlacement="stacked" label="Name" [(ngModel)]="name" placeholder="Friend name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="email" labelPlacement="stacked" label="Email" [(ngModel)]="name" placeholder="jhon@go.com"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="phone" labelPlacement="stacked" label="Phone number" [(ngModel)]="name" placeholder="+923154379769"></ion-input>
  </ion-item>
</ion-content>
