ion-searchbar {
  padding: 0;
}
  ion-item {
    &::part(native) {
      --inner-border-width: 0;
      border-bottom: 0.5px solid rgb(200, 199, 204);
    }
    &.selected {
      &::part(native) {
        background-color: floralwhite;
      }
    }
  }
