/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@import "variables";


*, body, ion-app, ion-content, h1, h2, h3, h4, h5, h6, label, p, ion-input, ion-label, ion-button, button {
  font-family: "Onest", sans-serif !important;
}
ion-select,
ion-select::part(text),
ion-select::part(placeholder),
ion-action-sheet::part(title),
ion-action-sheet::part(sub-title),
ion-action-sheet::part(button),
ion-action-sheet::part(button-text) {
  font-family: 'Onest', sans-serif !important;
}

.strike {
  text-decoration: line-through;
}

.action-sheet-button {
  &.red, &.green {
    font-size: 1.2rem;
  }
  &.red {
    color: red;
  }
  &.green {
    color: green;
  }
}

/**
this rule used to style the heading of the ion-list
 */
ion-item.group-label-item {
  height: 30px;
  --background: transparent;
  ion-label {
    margin: 0;
    font-size: 12px !important;
  }
}

.success {
  color: $color-green;
}

.danger {
  color: $color-red;
}

.btn-ghost.green {
  text-align: center;
  flex: 1;
  border: 1px solid $color-green;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
  color: $color-green;
  opacity: 1;
  text-transform: capitalize;

  &:hover, &:active {
    background-color: $color-green;
    color: $color-white;
    opacity: 1;
  }
  ion-spinner {
    color: $color-white;
  }
}

