/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@use "variables" as *;
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import "@ionic/angular/css/palettes/dark.system.css";
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

:root {
  --ion-color-primary: #3063E3;
  --color-white: #ffffff;
  --ion-color-success: #21CE99;;
}

*, body, ion-app, ion-content, h1, h2, h3, h4, h5, h6, label, p, ion-input, ion-label, ion-button, button {
  font-family: "Onest", sans-serif !important;
}
ion-select,
ion-select::part(text),
ion-select::part(placeholder),
ion-action-sheet::part(title),
ion-action-sheet::part(sub-title),
ion-action-sheet::part(button),
ion-action-sheet::part(button-text) {
  font-family: 'Onest', sans-serif !important;
}

.strike {
  text-decoration: line-through;
}

ion-action-sheet .action-sheet-button {
  &.action-sheet-selected, &.red, &.green {
    font-size: 1rem;
  }
  &.red {
    color: red !important;
  }
  &.green {
    color: var(--ion-color-success) !important;
  }
}

/**
this rule used to style the heading of the ion-list
 */
ion-item.group-label-item {
  height: 30px;
  --background: transparent;
  ion-label {
    margin: 0;
    font-size: 12px !important;
  }
}

ion-label.small {
  font-size: 0.9em;
}

.success {
  color: $color-green;
}

.danger {
  color: $color-red;
}

.btn-ghost.green {
  text-align: center;
  flex: 1;
  border: 1px solid $color-green;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
  color: $color-green;
  opacity: 1;
  text-transform: capitalize;

  &:hover, &:active {
    background-color: $color-green;
    color: var(--color-white);
    opacity: 1;
  }
  ion-spinner {
    color: var(--color-white);
  }
}

.btn-filled.red {
  text-align: center;
  flex: 1;
  border: 1px solid $color-red;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
  color: $color-red;
  background-color: var(--color-white);
}

ion-header {
  box-shadow: none;
  ion-toolbar {
    padding-left: 16px;
    padding-right: 10px;
    background: transparent linear-gradient(to right, $color-blue 0%, $color-green 100%);
    --background: transparent;
    --color: var(--color-white);
    --border-width: 0 !important;
    ion-title {
      padding: 0;
      font-size: 20px;
      font-weight: 600;
      color: var(--color-white);
      text-align: left;
    }

    ion-icon {
      font-size: 26px;
      color: var(--color-white);
    }

    ion-back-button {
      &::part(text) {
        display: none !important;
      }

      &::part(native) {
        color: var(--color-white);
      }
    }

    ion-button {
      &::part(native) {
        color: var(--color-white);
      }
    }
  }
  ion-buttons {
    margin: 0;
  }
}

.main-list-container {
  background: $color-mediumGrey;
  min-height: 100%;
}

ion-modal {
  ion-header ion-toolbar ion-title {
    padding-left: 40px;
    font-size: 16px;
  }
}

ion-alert.danger-alert {
  .alert-title {
    color: var(--ion-color-danger);
  }
}
.alert-button.alert-button-role-confirm.danger {
  color: var(--ion-color-danger);
}

.md {
  ion-header {
    padding-top: 24px;
  }
  ion-tab-bar {
    padding-bottom: 24px;
  }
}
