<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="close-outline" (click)="closePopup()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Settle up with {{this.friend().name | shortenName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (settleUpForm.get('balance')?.value?.isOwed) {
    <h2>{{this.friend().name | shortenName}} paid you.</h2>
  } @else {
    <h2>You paid to {{this.friend().name | shortenName}}</h2>
  }
  <form [formGroup]="settleUpForm" (ngSubmit)="submit()" id="settle-up-form">
    <ion-list>
      <ion-item class="currency-expense">
        <ion-label position="stacked" class="input-label">Choose a balance</ion-label>
        <ion-select
          formControlName="balance"
          class="balance-select"
          [class.is-owed]="settleUpForm.get('balance')!.value.isOwed"
          placeholder="Select currency"
          interface="action-sheet"
        >
          @for (balance of friend().otherBalances; track balance) {
            <ion-select-option [ngClass]="{'green': balance.isOwed, 'red': !balance.isOwed}" [value]="balance">{{balance.currency}} | {{balance.amount | number:'1.2-2' }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" class="input-label">Amount</ion-label>
        <ion-input
          class="input-field"
          type="number"
          formControlName="amount"
          errorText="Expense is required"
        ></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-buttons class="btn-group">

    @if (loading()) {
        <ion-spinner></ion-spinner>
      } @else {
        <ion-button class="btn-ghost green" type="submit" form="settle-up-form" [strong]="true">Settle Now</ion-button>
      }
  </ion-buttons>

</ion-content>