@import "variables.scss";

ion-item {
  &::part(native) {
    padding-left: 0;
    --inner-border-width: 0;
  }

  ion-select.currency {
    min-width: 25%;
    margin-right: 15px;
  }

  &.currency-expense ion-input.ion-invalid {
    margin-top: 10px
  }
}

ion-select.balance-select {
  &::part(text) {
    color: $color-red;
  }
  &.is-owed::part(text) {
    color: $color-green;
  }
}


ion-header{
  box-shadow: none;

  ion-toolbar {
    padding: 0 16px;
    background-color: $color-mediumGrey;
    --background: $color-mediumGrey;
    --color: $color-dark;
    --border-width: 0;

    ion-title{
      padding:0;
      text-transform: capitalize;
      text-align: left;
      font-size: 20px;
      color: $color-dark;
    }
  }
}

ion-content{
  h2{  
    color: $color-dark;
    margin: 0 0 32px;
    text-transform: capitalize;
  }


   ion-input {
    --border-width: 0;
    --box-shadow: none;
  }

    ion-select{
      width: 100%;
      background-color: $color-mediumGrey;
      padding: 0px 16px;
      font-size: 14px;
      margin: 4px 0;
      border-radius: 10px;

  }

}

.input-label {
  font-size: 14px;
  color: $color-dark;
  font-weight: 600;
}
.input-field{
  ::ng-deep .input-wrapper{
    background-color: $color-mediumGrey;
    padding: 8px 16px;
    font-size: 14px;
    margin-top: 8px;
    border-radius: 10px;

  }
}

.btn-group{
    display: flex;
    margin: 24px 0;
    gap: 8px;
  .btn-ghost{
    text-align: center;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 500;
    color: $color-black;
  }
  .button-filled{
      text-align: center;
      flex: 1;
      background-color: $color-green;
      border: 1px solid $color-green;
      border-radius: 40px;
      font-size: 14px;
      font-weight: 500;
      color: $color-white;
  }
}

