<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="closePopup()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>
      Settle up with {{this.friend().name | shortenName}}
    </ion-title>
    <ion-buttons slot="end">
      @if (loading()) {
        <ion-spinner></ion-spinner>
      } @else {
        <ion-button type="submit" form="settle-up-form" [strong]="true">Submit</ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  @if (settleUpForm.get('currency')?.value?.isOwed) {
    <h1>{{this.friend().name | shortenName}} paid you.</h1>
  } @else {
    <h1>You paid to {{this.friend().name | shortenName}}</h1>
  }
  <form [formGroup]="settleUpForm" (ngSubmit)="submit()" id="settle-up-form">
    <ion-list>
      <ion-item class="currency-expense">
        <ion-select
          formControlName="currency"
          class="currency"
          placeholder="Select currency"
          label="Choose a balance"
          label-placement="stacked"
          interface="action-sheet"
        >
          @for (balance of friend().otherBalances; track balance) {
            <ion-select-option [ngClass]="{'is-owed': balance.isOwed}" [value]="balance">{{balance.currency}} | {{balance.amount}}</ion-select-option>
          }
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input
          type="number"
          labelPlacement="stacked"
          label="Amount"
          formControlName="amount"
          errorText="Expense is required"
        ></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
