.overall-balance-wrapper{
    margin: 16px 16px 0;
    background-color: #fff;
    border-radius: 20px;
    padding: 16px;
   
    .summary-banlance{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ion-label{
            font-size: 12px;
            color: #757A86;
        }
        h1{
            font-size: 24px;
            font-weight: 700;
            margin: 6px 0 0;

            img{
                height: 18px;
            }
        }
    }
    .other-details{
        background-color: #F7F7F7;
        padding: 0 12px;
        border-radius: 10px;
        margin-top: 16px;
        ion-list{
            padding: 0;
            ion-item{
                --border-color: transparent !important;
                --inner-padding-end: 0px;
                border-bottom: 1px solid #E8E9EB;
                background: #f7f7f7;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:last-of-type{
                    border-bottom: 0;
                }
                &::part(native) {
                    padding: 0;
                    --background-color: transparent;
                    background-color: transparent;
                }
                p{
                    font-size: 12px;
                    font-weight: 500;
                    margin: 0;
                }
                ion-label{
                    font-size:10px;
                    color:#757A86;
                    text-align: center;
                }
               
            }
        }
    }
}
.success{
    color: #2dd55b;
}
.danger{
    color: #FF5D5D;
}