@if (overallBalance()) {
  <div class="overall-balance-wrapper">
    <div class="summary-banlance">
      <div>
        <ion-label>Overall Balance in your local currency</ion-label>
        <h1 [ngClass]="overallBalance().main.isOwed ? 'success': 'danger'">
          {{ overallBalance().main.amount | currency: overallBalance().main.currency: 'symbol' }}
          @if (overallBalance().main.isOwed) {
            <img class="arrow" src="assets/images/arrow-green-downward.svg" alt="wallet" />
          } @else {
            <img class="arrow" src="assets/images/arrow-red-upword.svg" alt="wallet" />
          }
        </h1>
      </div>

      <ng-content>
        <img src="assets/images/wallet-icon.svg" alt="wallet" />
      </ng-content>
    </div>

    @if (hasDifferentCurrencies()) {
      <div class="other-details">
        <ion-list>
          @for (otherBalance of sortedOtherBalance(); track otherBalance.currency) {
            <ion-item>
              <div slot="start">
                <p>Total :
                  <span
                    [ngClass]="otherBalance.isOwed ? 'success': 'danger'"
                  >
                  {{ otherBalance.amount | currency: otherBalance.currency: 'symbol' }}
                    @if (otherBalance.isOwed) {
                      <img
                        class="arrow"
                        src="assets/images/arrow-green-downward.svg" alt="wallet"
                      />
                    } @else () {
                      <img
                        class="arrow"
                        src="assets/images/arrow-red-upword.svg" alt="wallet"
                      />
                    }
                </span>
                </p>
              </div>
              <ion-label>Converted to</ion-label>
              <div slot="end">
                <p>
                <span
                  [ngClass]="otherBalance.isOwed ? 'success': 'danger'"
                >
                  {{ otherBalance.amount | currency: overallBalance().main.currency: 'symbol' }}
                  @if (otherBalance.isOwed) {
                    <img
                      class="arrow"
                      src="assets/images/arrow-green-downward.svg" alt="wallet"
                    />
                  } @else () {
                    <img
                      class="arrow"
                      src="assets/images/arrow-red-upword.svg" alt="wallet"
                    />
                  }
                </span>
                </p>
              </div>
            </ion-item>
          }
        </ion-list>
      </div>
    }
  </div>
}
