<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="closePopup()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Select Friend</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="filter"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item (click)="createNewFriend()">
      <ion-avatar slot="start">
          <ion-icon size="large" name="add-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Add <span style="color: green">{{filter()}}</span></h2>
      </ion-label>
    </ion-item>
    @for( friend of friends(); track friend.name) {
      <ion-item (click)="chooseFriend(friend)">
        <ion-avatar slot="start">
          @if (friend.photoUrl) {
            <img [src]="friend.photoUrl" alt="Friend's photo" />
          } @else {
            <ion-icon size="large" name="person" [color]="friend.mainBalance?.isOwed ? 'success': 'danger'"></ion-icon>
          }
        </ion-avatar>
        <ion-label>
          <h2>{{ friend.name }}</h2>
        </ion-label>
        @if (friend.mainBalance) {
          <p>
            <ion-label [color]="friend.mainBalance.isOwed ? 'success': 'danger'">
              {{ friend.mainBalance.amount | currency }}
            </ion-label>
          </p>
        }
      </ion-item>
    } @empty {
      <ion-item disabled="true">
        <ion-label>
          <h2>No friends in you friend list.</h2>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
