<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="close-outline" (click)="closePopup()"></ion-icon>
    </ion-buttons>
    <ion-title>
      @if (context() === 'ChooseFriend') {
        Select Friend
      } @else {
        Add Friend
      }
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-margin">
    <ion-searchbar [(ngModel)]="filter"></ion-searchbar>

     @if (friend()) {
    <div>
      <ion-chip>
        <ion-avatar>
        @if (friend()?.photoUrl) {
          <img alt="Silhouette of a person's head" [src]="friend()?.photoUrl"/>
        } @else {
          <ion-icon size="medium" name="person" color="medium"></ion-icon>
        }
        </ion-avatar>
        <ion-label>{{friend()?.name}}</ion-label>
      </ion-chip>
    </div>
  }


  <div class="button-with-icon" (click)="createNewFriend()">
    <ion-avatar slot="start">
      <ion-icon size="large" name="add-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      @if (filter()) {
        <h2>Add <span style="color: green">{{filter()}}</span></h2>
      } @else {
        <h2>Add New Friend</h2>
      }
    </ion-label>
  </div>
  
  @if (context() === 'ChooseFriend') {
    <ion-list>
      @if (isMobile) {
        <ion-list-header>
        <ion-label>Friends</ion-label>
      </ion-list-header>
      }
      @for( friend of friends(); track friend.name) {
        <ion-item (click)="chooseFriend(friend)">
        <ion-avatar slot="start">
            @if (friend.photoUrl) {
              <img [src]="friend.photoUrl" alt="Friend's photo"/>
            } @else {
              <ion-icon size="large" name="person" color="medium"></ion-icon>
            }
          </ion-avatar>
        <ion-label>
          <h2>{{ friend.name }}</h2>
        </ion-label>
          @if (friend.mainBalance?.amount) {
            <p>
          <ion-label [color]="friend.mainBalance?.isOwed ? 'success': 'danger'">
            {{ friend.mainBalance?.amount | currency: friend.mainBalance?.currency : 'symbol-narrow' }}
          </ion-label>
        </p>
          }
        </ion-item>
      } @empty {
        <ion-item disabled="true">
        <ion-label>
          <h2>No friends in you friend list.</h2>
        </ion-label>
      </ion-item>
      }
    </ion-list>
  }
  @if (isMobile) {
    <ion-list>
      <ion-list-header>
        <ion-label>Contacts</ion-label>
      </ion-list-header>
      @for( contact of filteredContacts(); track contact.name) {
        <ion-item (click)="chooseContact(contact)">
        <ion-avatar slot="start">
          <ion-icon size="large" name="person" color="medium"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{ contact.name }}</h2>
        </ion-label>
        <p>
          <ion-label>
            {{ contact.phoneNumber }}
          </ion-label>
        </p>
      </ion-item>
      } @empty {
        <ion-item disabled="true">
        <ion-label>
          <h2>No friends in your contact list.</h2>
        </ion-label>
      </ion-item>
      }
    </ion-list>
  }

  </div>

</ion-content>