@use "./variables.scss" as *;

.acb {
  border-top: 3px solid $color-blue;
}

ion-fab {
  position: relative;
  bottom: 6px;
}

ion-fab-button {
  --background: #{$color-green};
  --background-activated: #{$color-green};
  --background-hover: #{$color-green};
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0;
  border-top: 4px solid transparent;
  width: 36px;
}

ion-tab-button {
  .tab {
    svg {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 6px;
    }

    label {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 4px 0;
      color: #2D2F35;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &.tab-selected .tab label {
    color: $color-blue;
  }

  &.tab-selected .tab svg {
    fill: $color-blue;

    path {
      stroke: $color-blue;
    }
  }

  &.tab-selected .tab {
    border-top: 4px solid $color-blue;
  }

}

