<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="friends" href="/tabs/friends">
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="addNewExpense()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="activity-log" href="/tabs/activity-log">
      <ion-icon name="list-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="account" href="/tabs/account">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
