@import "variables.scss";

.group-label-item {
  height: 30px;
  ion-label {
    margin: 0;
    font-size: 12px;
  }
}
ion-item {
  .date-wrapper {
    font-size: 14px;
    color: $light-color;
  }
  ion-icon {
    margin-top: 3px;
  }
}
.description-wrapper {
  h2 {
    font-size: 14px;
  }
}
.amount-wrapper {
  text-align: right;
  .type {
    font-size: 12px;
  }
}
