<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>With you and {{friend['name']}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for( transaction of transactions; track transaction.name) {
      <ion-item (click)="openTransactionDetails(transaction)" button>
        <ion-label>
          <h2>{{ transaction.name }}</h2>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
