<ng-container  [formGroup]="group()!">
  <mr-fake-dropdown
    class="country"
    [class.has-error]="!!getErrorTextForPhone() && group()?.touched"
    [label]="'Country'"
    [selectedText]="selectedCountryText()"
    (click)="chooseCountry()"
  ></mr-fake-dropdown>
  <ion-input
    type="tel"
    labelPlacement="stacked"
    label="Phone number"
    formControlName="phoneNumber"
    [placeholder]="selectedCountryPlaceholder()"
    [errorText]="getErrorTextForPhone()"
    [maskito]="phoneMask()"
    [maskitoElement]="maskPredicate"
  ></ion-input>
</ng-container>
