<ng-container  formGroupName="phone">
  <mr-countries-dropdown
    class="country"
    [label]="canShowLabels()? 'Country' : ''"
    formControlName="country"
  ></mr-countries-dropdown>
  <ion-input
    type="tel"
    labelPlacement="stacked"
    [label]="canShowLabels() ? 'Phone Number' : ''"
    formControlName="phoneNumber"
    [placeholder]="selectedCountryPlaceholder()"
    [errorText]="getErrorTextForPhone()"
    [maskito]="phoneMask()"
    [maskitoElement]="maskPredicate"
  ></ion-input>
</ng-container>
